{% extends "base.html" %}
{% block content %}

<form action="/wine/{{ wine.id }}" method="POST">

    <label for="grape_variety">Grape Variety:</label>
    <input type="text" name="grape_variety" id="grape_variety" value="{{ wine.grape_variety }}">

    <label for="description">Description:</label>
    <input type="text" name="description" id="description" value="{{ wine.description }}">

    <label for="cost_price">Cost Price:</label>
    <input type="text" name="cost_price" id="cost_price" value="{{ wine.cost_price }}">

    <label for="retail_price">Retail Price:</label>
    <input type="text" name="retail_price" id="retail_price" value="{{ wine.retail_price }}">

    <label for="stock">Stock:</label>
    <input type="text" name="stock" id="stock" value="{{ wine.stock }}">

    <label for="producer_id">Producer:</label>
    <select name="producer_id" id="producer_id">
    {% for producer in producers %}
        <option value="{{producer.id}}"
        {% if wine.producer.id == producer.id %} selected="selected" {% endif %}>{{producer.name}}</option>
    {% endfor %}
    </select>

    <button type="submit">Update wine</button>

</form>










{% endblock %}
