{% extends "base.html" %}
{% block content %}



    <div>
    {% for wine in all_wines %}
    
    <p><span class="title">Producer: </span> {{ wine.producer.name }}</p>  
    <p><span class="title">Grape Variety: </span> {{ wine.grape_variety }}</p>  
    <p><span class="title">Wine Stock: </span>{{ wine.stock }}</p>  
    <p><span class="title">Tasting Note: </span>{{ wine.description }}</p>
    <p><span class="title">Cost Price £: </span>{{ wine.cost_price }}</p>
    <p><span class="title">Retail Price £: </span>{{ wine.retail_price }}</p>


    {% if wine.stock == 0 %}
    <p class="out-of-stock"> Out of stock! </p>
    {% elif wine.stock <= 3 %}
    <p class="low-stock"> low stock </p>
    {% endif %}

    <form action="/wines/{{wine.id}}/edit" method="POST">
        <button type="submit">Edit</button>
    </form>
    <form action="/wines/{{wine.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
        
    {% endfor %}

    
    </div>




{% endblock %}
