{% extends 'base.html' %}
{% block content %}



<div>
    <h1>Producers</h1>
    {% for producer in all_producers %}
    <p><span class="title">Producer: </span>{{producer.name}}</p>
    <p><span class="title">Contact Number: : </span>{{producer.phone_number}}</p>
    <p><span class="title">Contact Email: </span>{{producer.email}}</p>
    <p><span class="title">Country: </span>{{producer.country}}</p>
    <p><span class="title">Region: </span>{{producer.region}}</p>

    <form action="/producers/{{producer.id}}/edit" method="POST">
        <button type="submit">Edit</button>
    </form>
    <form action="/producers/{{producer.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
        
    {% endfor %}

    
    </div>

    
{% endblock content %}