{% extends 'base.html' %}
{% block content %}



<div>
    <h1>CLOUD WINE</h1>
    {% for producer in all_producers %}
    <p>{{producer.name}}</p>
    <p>{{producer.phone_number}}</p>
    <p>{{producer.email}}</p>
    <p>{{producer.country}}</p>
    <p>{{producer.region}}</p>

    <form action="/producers/{{producer.id}}/edit" method="POST">
        <button type="submit">Edit</button>
    </form>
    <form action="/producers/{{producer.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
        
    {% endfor %}

    
    </div>

    
{% endblock content %}