
body {
    background-color: lightblue;
}

.title {
  font-weight: 700;
}

.out-of-stock {
  color: red;
  font-weight: 600;
}
.low-stock {
  font-weight: 600;
  color: green;
}








/* body {
    margin: 0%;
    background-color: rgb(109, 167, 185);
    font-family: "Lucida Console", "Courier New", monospace;
  }

 
h1 {
      color: rgb(160, 157, 157);
}
  
h4 {color: rgb(160, 157, 157);
}

a:visited {
    color: rgb(160, 157, 157);
  } */