<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cloud Wine</title>
</head>
<body>
  
  <h1>CLOUD WINE</h1>
  <h4>Wine Stock Management App</h4>
    <header>
    
        <nav>
            <ul class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="/wines">Inventory</a></li>
              <li><a href="/producers">Producers</a></li>
              <li><a href="/wines/new">Add Wine</a></li> 
              <li><a href="/producers/new">Add Producer</a></li> 
            </ul>
          </nav>
    </header>
  {% block content %}
  {% endblock %}
    
</body>
</html>